img{
  height: 600px;
  width: 350px;
}
a{
  text-decoration: none;
}
.back-link{
  margin-top: 10px;
  margin-left: 600px;
}
.delete-book{
  font-weight: bold;
  a {
    color:red;
    font-size: 10px;
  }
}
.p-3{
  padding: 0;
}
