img{
  height: 600px;
  width: 350px;
}
a{
  text-decoration: none;
}
.back-link{
  margin-top: 10px;
  margin-left: 600px;
}
.delete-book{
  font-weight: bold;
  a {
    color:red;
    font-size: 10px;
  }
}
.p-3{
  padding: 0;
}

.book-desc {
  justify-content: flex-start;
  height: 600px;
  padding-top: 50px;
}

.icon-hover-pen:hover {
  color: blue;
}

.icon-hover-trash:hover {
  color: red;
}
