div {
  background-color: #1D3557;
  justify-content: absolute;
}
.image1 {
  background-image: url(https://images.unsplash.com/photo-1561871733-40a3338b8cb4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=770&q=80);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 0; margin-right: 0;
}
.b-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  // min-height: 100%;
  background-color: var(--color-background);
  color: var(--color-text-body);
  line-height: var(--line-height-body);
  font-family: var(--font-family-sans);
  button {
    width: 160px;
    margin-top: 15px;
    margin-left: 100px;
    font-family: 'Roboto regular', sans-serif;
    font-weight: regular;
    background-color: #FFBA08;
    color: black;
    border-radius: 100px;
    // box-shadow: 10%;
  }
}
body{
  h1 {
    color: white;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    margin-top: 150px;
    margin-left: 100px;
    margin-bottom: 0.5rem;
    font-weight: 45px;
    line-height: 1.2;
  }
  p {
    color: white;
    margin-left: 100px;
    font-family: 'Roboto regular', sans-serif;
    font-size: 20px;
  }
}
.navbar > .container-fluid {
  min-height: 2rem;
  background-color: #563D7C;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
  .sticky {
    position: fixed;
    top: 0;
    // width: 100%;
  }
}
.navbar-expand-lg .navbar-collapse {
  background-color: #563D7C;
}
a.nav-link{
  color: white;
  background-color:#563D7C ;
  text-decoration: none;
}
