
.image-bg {
  background-image: url(https://images.pexels.com/photos/2898170/pexels-photo-2898170.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.b-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  // min-height: 100%;
  background-color: var(--color-background);
  color: var(--color-text-body);
  line-height: var(--line-height-body);
  font-family: var(--font-family-sans);
  margin-left: 93px !important;
}

.h1-title {
  color: white;
  font-size: 50px;
  font-family: $bm-font;
  font-weight: 700;
  margin-top: 180px;
  margin-bottom: 0.5rem;
  font-weight: 45px;
  line-height: 1.2;
  text-shadow: 10%;
}

.h2-homepage {
  color: white;
  font-family: 'Roboto regular', sans-serif;
  font-size: 20px;
}

.navbar > .container-fluid {
  min-height: 4rem;
  background-color:white;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
  .sticky {
    position: fixed;
    top: 0;
    // width: 100%;
  }
}
.navbar-expand-lg .navbar-collapse {
  background-color:white;
}

a.nav-link{
  color: black;
  background-color:white ;
  text-decoration: none;
}
