
.home{
  background-image: url(https://images.unsplash.com/photo-1561871733-40a3338b8cb4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=770&q=80);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

  .b-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  // min-height: 100%;
  background-color: var(--color-background);
  color: var(--color-text-body);
  line-height: var(--line-height-body);
  font-family: var(--font-family-sans);
  margin-left: 93px !important;
}

h1 {
  color: white;
  font-size: 50px;
  font-family: $bm-font;
  font-weight: 700;
  margin-top: 180px;
  margin-bottom: 0.5rem;
  font-weight: 45px;
  line-height: 1.2;
  text-shadow: 10%;
}

h2 {
  color: white;
  font-family: 'Kumbh Sans', "sans-serif";
  // font-weight: 900;
  font-size: 20px;
}


}
