.sign-in-page {
  padding: 0 !important;
  margin-top: 100px !important;
  background-color: #f2f0ea !important;

  .form-inputs {
    padding-left: 0;
  }

  .image {
    padding-right: 0;
  }

  .form-actions {
    margin-bottom: 20px;
  }

