.books-new-page{
  background-image: url(https://images.pexels.com/photos/2898170/pexels-photo-2898170.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 !important;
  // margin-top: 100px !important;
  background-color: #f2f0ea !important;

  .booksnew {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    // min-height: 100%;
    background-color: var(--color-background);
    color: var(--color-text-body);
    line-height: var(--line-height-body);
    font-family: var(--font-family-sans);
    margin-left: 93px !important;
  }
}

h1 {
  color: black;
  font-size: 50px;
  font-family: $bm-font;
  font-weight: 900;
  margin-top: 180px;
  margin-bottom: 0.5rem;
  font-weight: 45px;
  line-height: 1.2;
  text-shadow: 10%;
}

h2 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
}
