
<h1><%= @book.title %></h1>
<h2><%= @book.author %></h2>

<%= render 'layouts/calendar', book: @book, rental: @rental %>

<button class="btn btn-dark">
  <%= link_to 'All Books', books_path %>
</button>
