<h1>My Rentals</h1>
  <div class="container">
    <div class="row mt-5">
      <% @rentals.each do |rental| %>

      <div class="card-product">
        <img src= <%= rental.book.image_url %> />
      <div class="card-product-infos">
        <h2><%= rental.book.title %></h2>
        <p>emily</p>
        <p><%= rental.status %></p>
      </div>
      </div>

              <% if rental.status != 'Pending' %>
                <a href= <%= edit_book_rental_path(rental.book.id, rental.id) %> class="btn btn-primary">Edit dates</a>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
