<h1>New Rental</h1>

<%= simple_form_for [@rental, @book] do |f| %>
  <%= f.input :date, as: :date %>
  <%= f.submit class: "btn btn-warning m-2" %>
<% end %>

<button class="btn btn-dark  m-2">
  <%= link_to 'ALL BOOKS', books_path %>
</button>
