
<div class="image-bg" >
  <div class="b-container p-0 m-0" >
      <h1 class="h1-title">Welcome to Book Me!</h1>
      <h2 class="h2-homepage">Unlock Worlds Through Book Rentals</h2>
      <%# <button class="btn btn-primary">Find a book</button> %>

      <button type="button" class="btn btn-light button-bm" data-toggle="button" aria-pressed="false" autocomplete="off">
    Find a Book
    <%# <i class="fa-solid fa-book-open-reader"></i> %>
  </button>

  </div>
</div>
