</div>
<div class="home" >
  <div class="b-container p-0 m-0" >
     <h1 class="h1">Welcome to Book Me!</h1>
     <h2 class="h2">Unlock Worlds Through Book Rentals</h2>

       <%= link_to "Find my Book", books_path, class: "btn btn-light button-bm" %>

  </div>
</div>
<div>
