.button-bm {
    width: 160px;
    margin-top: 15px;
    font-family: $bm-font;
    font-weight: regular;
    background-color: #FFBA08;
    color: black;
    border-radius: 100px;
  // box-shadow: 10%;
}
