.button-bm {
    width: 160px;
    margin-top: 20px;
    font-family: $bm-font;
    font-weight: regular;
    background-color: #FFBA08;
    color: black !important;
    border-radius: 100px;
  // box-shadow: 10%;
  a{
    text-decoration: none;
    color: white;
  }
}

