.navbar > .container-fluid {
  min-height: 4rem;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
  // .sticky {
  //   position: fixed;
  //   top: 0;
  //   // width: 100%;
  // }
  z-index: 100;
}
.navbar-expand-lg .navbar-collapse {
  background-color: white;
}

a.nav-link{
  color: black;
  background-color:white ;
  text-decoration: none;
}

.nav-link {
  font-size: 14px;
}

.icon-text {
  font-size: 16px;
  font-weight: bolder;
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    left: -55px;
}}
