<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">My Rentals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_book_path %>">Add Book</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="
          <% if logged_in? %>
            <%= destroy_user_session_path %>
            <% else %>
              <%= new_user_session_path %>
            <% end %>">Log in</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
